[alias]
  co = checkout
	ci = commit
	hi = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	br = branch -v
	ad = add .
	st = status -sb
[push]
	default = simple
[color]
	diff   = auto
	status = auto
	branch = auto
[core]
	editor = vim
[user]
	email = zhouyizhao8888@qq.com
	name = zhouyizhao
